<body>
  <section class="Header">
    <div class="header-info">
      <h1 class="h">Unlock Your Potential <br />in the Digital World</h1>
      <img src="../../assets/Button.png" alt="" class="second-img" />
    </div>
    <div class="right-side">
      <h3>At NexGen</h3>
      <p>
        We believe in fostering a dynamic and collaborative work environment
        that empowers our team members to excel in their respective fields. Join
        us to be part of a passionate and innovative team dedicated to crafting
        exceptional digital solutions for clients across the globe. We are
        committed to nurturing talent, encouraging professional growth, and
        creating a workplace where creativity thrives.
      </p>
      <div class="know">
        <img src="../../assets/Button (2).svg" alt="" />
        <span>Know More</span>
      </div>
    </div>
  </section>

  <section class="Services div1">
    <header>
      <h1 class="header">Join Our Team at NexGen</h1>
    </header>
    <article>
      <div class="section">
        <div class="section1">
          <div class="Services-About">
            <div class="header-service">
              <div class="head1">
                <img src="../../assets/Icon Container (4).svg" alt="" />
                <h3>Web Designer</h3>
              </div>
              <div class="head2">
                <img src="../../assets/Button (1).svg" alt="" />
                <p>View Details</p>
              </div>
            </div>
            <div>
              <div class="text-stories">
                <p>
                  <span class="word1">Salary </span>
                  <span class="dot">
                    <img src="../../assets/Shape.svg" alt="" />
                  </span>
                  <span class="word2"> $45,000 - $60,000 per year</span>
                </p>
              </div>

              <div class="text-stories">
                <span
                  ><span class="word1">Experience </span>
                  <span class="dot">
                    <img src="../../assets/Shape.svg" alt="" />
                  </span>
                  <span class="word2"> 1+ year</span>
                </span>
              </div>
              <div class="text-stories">
                <span
                  ><span class="word1">Deadline </span>
                  <span class="dot">
                    <img src="../../assets/Shape.svg" alt="" />
                  </span>
                  <span class="word2"> 30/09/2025</span>
                </span>
              </div>
            </div>
            <div class="text">
              <h3>Skills</h3>
              <p>
                Proficiency in Adobe Creative Suite (Photoshop, Illustrator,
                etc.), strong understanding of UI/UX design principles,
                responsive design expertise.
              </p>
            </div>
            <a href="" class="btnn">Apply NoW</a>
          </div>

          <div class="Services-About">
            <div class="header-service">
              <div class="head1">
                <img src="assets/Icon Container (4).svg" alt="" />
                <h3>Web Designer</h3>
              </div>
              <div class="head2">
                <img src="assets/Button (1).svg" alt="" />
                <p>View Details</p>
              </div>
            </div>
            <div>
              <div class="text-stories">
                <p>
                  <span class="word1">Salary </span>
                  <span class="dot">
                    <img src="../../assets/Shape.svg" alt="" />
                  </span>
                  <span class="word2"> $45,000 - $60,000 per year</span>
                </p>
              </div>

              <div class="text-stories">
                <span
                  ><span class="word1">Experience </span>
                  <span class="dot">
                    <img src="../../assets/Shape.svg" alt="" />
                  </span>
                  <span class="word2"> 1+ year</span>
                </span>
              </div>
              <div class="text-stories">
                <span
                  ><span class="word1">Deadline </span>
                  <span class="dot">
                    <img src="../../assets/Shape.svg" alt="" />
                  </span>
                  <span class="word2"> 30/09/2025</span>
                </span>
              </div>
            </div>
            <div class="text">
              <h3>Skills</h3>
              <p>
                Proficiency in Adobe Creative Suite (Photoshop, Illustrator,
                etc.), strong understanding of UI/UX design principles,
                responsive design expertise.
              </p>
            </div>
            <a href="" class="btnn">Apply NoW</a>
          </div>
        </div>

        <div class="section2">
          <div class="Services-About">
            <div class="header-service">
              <div class="head1">
                <img src="assets/Icon Container (4).svg" alt="" />
                <h3>Web Designer</h3>
              </div>
              <div class="head2">
                <img src="assets/Button (1).svg" alt="" />
                <p>View Details</p>
              </div>
            </div>
            <div>
              <div class="text-stories">
                <p>
                  <span class="word1">Salary </span>
                  <span class="dot">
                    <img src="../../assets/Shape.svg" alt="" />
                  </span>
                  <span class="word2"> $45,000 - $60,000 per year</span>
                </p>
              </div>

              <div class="text-stories">
                <span
                  ><span class="word1">Experience </span>
                  <span class="dot">
                    <img src="../../assets/Shape.svg" alt="" />
                  </span>
                  <span class="word2"> 1+ year</span>
                </span>
              </div>
              <div class="text-stories">
                <span
                  ><span class="word1">Deadline </span>
                  <span class="dot">
                    <img src="../../assets/Shape.svg" alt="" />
                  </span>
                  <span class="word2"> 30/09/2025</span>
                </span>
              </div>
            </div>
            <div class="text">
              <h3>Skills</h3>
              <p>
                Proficiency in Adobe Creative Suite (Photoshop, Illustrator,
                etc.), strong understanding of UI/UX design principles,
                responsive design expertise.
              </p>
            </div>
            <a href="" class="btnn">Apply NoW</a>
          </div>
          <div class="Services-About">
            <div class="header-service">
              <div class="head1">
                <img src="assets/Icon Container (4).svg" alt="" />
                <h3>Web Designer</h3>
              </div>
              <div class="head2">
                <img src="assets/Button (1).svg" alt="" />
                <p>View Details</p>
              </div>
            </div>
            <div>
              <div class="text-stories">
                <p>
                  <span class="word1">Salary </span>
                  <span class="dot">
                    <img src="assets/Shape.svg" alt="" />
                  </span>
                  <span class="word2"> $45,000 - $60,000 per year</span>
                </p>
              </div>

              <div class="text-stories">
                <span
                  ><span class="word1">Experience </span>
                  <span class="dot">
                    <img src="assets/Shape.svg" alt="" />
                  </span>
                  <span class="word2"> 1+ year</span>
                </span>
              </div>
              <div class="text-stories">
                <span
                  ><span class="word1">Deadline </span>
                  <span class="dot">
                    <img src="assets/Shape.svg" alt="" />
                  </span>
                  <span class="word2"> 30/09/2025</span>
                </span>
              </div>
            </div>
            <div class="text">
              <h3>Skills</h3>
              <p>
                Proficiency in Adobe Creative Suite (Photoshop, Illustrator,
                etc.), strong understanding of UI/UX design principles,
                responsive design expertise.
              </p>
            </div>
            <a href="" class="btnn">Apply NoW</a>
          </div>
        </div>
      </div>
      <div class="view-all">
        <img src="../../assets/Button (2).svg" alt="" />
        <h4>All steps</h4>
      </div>
    </article>
  </section>
  <section class="Services div2">
    <header>
      <h1 class="header">How to Apply</h1>
    </header>
    <article class="apply section1">
      <div class="text-apply">
        <p class="steps">Step 01</p>
        <h3>Explore Job Listings</h3>
        <p>
          Visit our website's "Careers" page to explore the current job
          listings. Review the various roles available and select the position
          that aligns with your skills, experience, and career aspirations.
        </p>
        <div>
          <img src="assets/Button (2).svg" alt="" />
          <span>Know More</span>
        </div>
      </div>
      <div class="text-apply">
        <p class="steps">Step 01</p>
        <h3>Explore Job Listings</h3>
        <p>
          Visit our website's "Careers" page to explore the current job
          listings. Review the various roles available and select the position
          that aligns with your skills, experience, and career aspirations.
        </p>
        <div>
          <img src="assets/Button (2).svg" alt="" />
          <span>Know More</span>
        </div>
      </div>

      <div class="text-apply">
        <p class="steps">Step 01</p>
        <h3>Explore Job Listings</h3>
        <p>
          Visit our website's "Careers" page to explore the current job
          listings. Review the various roles available and select the position
          that aligns with your skills, experience, and career aspirations.
        </p>
        <div>
          <img src="assets/Button (2).svg" alt="" />
          <span>Know More</span>
        </div>
      </div>

      <div class="text-apply">
        <p class="steps">Step 01</p>
        <h3>Explore Job Listings</h3>
        <p>
          Visit our website's "Careers" page to explore the current job
          listings. Review the various roles available and select the position
          that aligns with your skills, experience, and career aspirations.
        </p>
        <div>
          <img src="assets/Button (2).svg" alt="" />
          <span>Know More</span>
        </div>
      </div>
    </article>
    <article class="apply section2">
      <div class="text-apply">
        <p class="steps">Step 01</p>
        <h3>Explore Job Listings</h3>
        <p>
          Visit our website's "Careers" page to explore the current job
          listings. Review the various roles available and select the position
          that aligns with your skills, experience, and career aspirations.
        </p>
        <div>
          <img src="assets/Button (2).svg" alt="" />
          <span>Know More</span>
        </div>
      </div>
      <div class="text-apply">
        <p class="steps">Step 01</p>
        <h3>Explore Job Listings</h3>
        <p>
          Visit our website's "Careers" page to explore the current job
          listings. Review the various roles available and select the position
          that aligns with your skills, experience, and career aspirations.
        </p>
        <div>
          <img src="assets/Button (2).svg" alt="" />
          <span>Know More</span>
        </div>
      </div>
      <div class="text-apply">
        <p class="steps">Step 01</p>
        <h3>Explore Job Listings</h3>
        <p>
          Visit our website's "Careers" page to explore the current job
          listings. Review the various roles available and select the position
          that aligns with your skills, experience, and career aspirations.
        </p>
        <div>
          <img src="assets/Button (2).svg" alt="" />
          <span>Know More</span>
        </div>
      </div>
      <div class="text-apply">
        <p class="steps">Step 01</p>
        <h3>Explore Job Listings</h3>
        <p>
          Visit our website's "Careers" page to explore the current job
          listings. Review the various roles available and select the position
          that aligns with your skills, experience, and career aspirations.
        </p>
        <div>
          <img src="assets/Button (2).svg" alt="" />
          <span>Know More</span>
        </div>
      </div>
    </article>
    <div class="view-all">
      <img src="../../assets/Button (2).svg" alt="" />
      <h4>All steps</h4>
    </div>
  </section>
</body>
