<section class="Testmonials">
  <div class="test-headers">
    <h1><span>Testmonials</span></h1>
    <h4 class="d-flex">
      <i class="bi bi-arrow-up-right p-2"></i>
      <p>all the Testmonials</p>
    </h4>
  </div>
  <div class="cards">
    <div class="cardss">
      <div class="card-body p-3">
        <h5 class="card-title">NEXGEN TURNED OUR BUISNESS AROUND</h5>
        <p class="card-textt text-white-50">
          Some quick example text to build on the card title and make up the
          bulk of the card'scontent.
        </p>
        <div class="card-footerr">
          <div class="img">
            <img src="assets/photo1.jpg" alt="" />
          </div>
          <div class="text">
            <h6>sara thomson</h6>
            <span>CEO of througBloom</span>
          </div>
          <div class="bttn">
            <i class="bi bi-arrow-right"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="cardss">
      <div class="card-body p-3">
        <h5 class="card-title">NEXGEN TURNED OUR BUISNESS AROUND</h5>
        <p class="card-textt text-white-50">
          Some quick example text to build on the card title and make up the
          bulk of the card'scontent.
        </p>
        <div class="card-footerr">
          <div class="img">
            <img src="assets/photo2.jpg" alt="" />
          </div>
          <div class="text mt-2">
            <h6>Ware warren</h6>
            <p>Art director</p>
          </div>
          <div class="bttn">
            <i class="bi bi-arrow-right"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="cardss">
      <div class="card-body p-3">
        <h5 class="card-title">NEXGEN TURNED OUR BUISNESS AROUND</h5>
        <p class="card-textt text-white-50">
          Some quick example text to build on the card title and make up the
          bulk of the card'scontent.
        </p>
        <div class="card-footerr p-3">
          <div class="img">
            <img src="assets/photo3.jpg" alt="" />
          </div>
          <div class="text ps-lg-4 mt-2 pt-3">
            <h6>Lisa wiliams</h6>
            <p>CEO of health tech</p>
          </div>
          <div class="bttn pt-4">
            <i class="bi bi-arrow-right"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="cardss">
      <div class="card-body p-3">
        <h5 class="card-title">NEXGEN TURNED OUR BUISNESS AROUND</h5>
        <p class="card-textt text-white-50">
          Some quick example text to build on the card title and make up the
          bulk of the card'scontent.
        </p>
        <div class="card-footerr">
          <div class="img">
            <img src="assets/photo4.jpg" alt="" />
          </div>
          <div class="text">
            <h6>Jennifer lee</h6>
            <span>CEO of foodei haven</span>
          </div>
          <div class="bttn">
            <i class="bi bi-arrow-right"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="questions">
  <div class="questions-header">
    <h1>FREQUENTLY ASKED QUESTIONS</h1>
    <span class="d-flex justify-content-sm-end w-auto">
      <h6 class="text-white-50 mt-4">view all</h6>
      <i class="bi px-3 pt-3 p-3 ms-3 bi-arrow-right"></i>
    </span>
  </div>
  <div class="question-info">
    <div class="d-flex justify-content-between">
      <h3>How long does it take to complete webpage develoment project</h3>
      <p>
        <button
          class="bttttn px-4 py-1"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseWidthExample"
          aria-expanded="false"
          aria-controls="collapseWidthExample"
        >
          +
        </button>
      </p>
    </div>
    <div>
      <div class="collapse collapse-horizontal w-100" id="collapseWidthExample">
        <div class="cardd card-bodyy p-5">
          The timeline varies depending on the project's complexity and
          requirements. Our team strives to deliver projects on time while
          maintaining the highest quality standards.
        </div>
      </div>
    </div>
  </div>
  <div class="question-info">
    <div class="d-flex justify-content-between">
      <h3>Can you handke large sclaemobile app develoment project</h3>
      <p>
        <button
          class="bttttn px-4 py-1"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseWidthExample"
          aria-expanded="false"
          aria-controls="collapseWidthExample"
        >
          +
        </button>
      </p>
    </div>
    <div>
      <div class="collapse collapse-horizontal w-100" id="collapseWidthExample">
        <div class="cardd card-bodyy p-5">
          The timeline varies depending on the project's complexity and
          requirements. Our team strives to deliver projects on time while
          maintaining the highest quality standards.
        </div>
      </div>
    </div>
  </div>
  <div class="question-info">
    <div class="d-flex justify-content-between">
      <h3>can you integrate third-party APIs into our mobile app</h3>
      <p>
        <button
          class="bttttn px-4 py-1"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseWidthExample"
          aria-expanded="false"
          aria-controls="collapseWidthExample"
        >
          +
        </button>
      </p>
    </div>
    <div>
      <div class="collapse collapse-horizontal w-100" id="collapseWidthExample">
        <div class="cardd card-bodyy p-5">
          The timeline varies depending on the project's complexity and
          requirements. Our team strives to deliver projects on time while
          maintaining the highest quality standards.
        </div>
      </div>
    </div>
  </div>
  <div class="question-info">
    <div class="d-flex justify-content-between">
      <h3>How ldo you ensure cross-platform compatability for mobile apps</h3>
      <p>
        <button
          class="bttttn px-4 py-1"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseWidthExample"
          aria-expanded="false"
          aria-controls="collapseWidthExample"
        >
          +
        </button>
      </p>
    </div>
    <div>
      <div class="collapse collapse-horizontal w-100" id="collapseWidthExample">
        <div class="cardd card-bodyy p-5">
          The timeline varies depending on the project's complexity and
          requirements. Our team strives to deliver projects on time while
          maintaining the highest quality standards.
        </div>
      </div>
    </div>
  </div>
  <div class="question-info">
    <div class="d-flex justify-content-between">
      <h3>What is your approach to (UX) user Experiencs design?</h3>
      <p>
        <button
          class="bttttn px-4 py-1"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseWidthExample"
          aria-expanded="false"
          aria-controls="collapseWidthExample"
        >
          +
        </button>
      </p>
    </div>
    <div>
      <div class="collapse collapse-horizontal w-100" id="collapseWidthExample">
        <div class="cardd card-bodyy p-5">
          The timeline varies depending on the project's complexity and
          requirements. Our team strives to deliver projects on time while
          maintaining the highest quality standards.
        </div>
      </div>
    </div>
  </div>
</section>
<section class="footer1">
  <div class="text">
    <h1>READY TO TEANSFORM YOUR DIGITAL PRESENCE?</h1>
    <p>
      Take the first step towards digital success with NexGen by your side. Our
      team of experts is eager to craft tailored solutions that drive growth for
      your business.
    </p>
  </div>
</section>
<footer class="">
  <div class="section1">
    <div>
      <div class="social">
        <div class="icons d-flex justify-content-between">
          <i class="bi bi-instagram"></i>
          <i class="bi bi-arrow-right"></i>
        </div>
        <h1>INstagram</h1>
        <p>Share visually appealing snippets of our latest web projects.</p>
      </div>
      <div class="social">
        <div class="icons d-flex justify-content-between">
          <i class="bi bi-dribbble"></i>
          <i class="bi bi-arrow-right"></i>
        </div>
        <h1>Dribbble</h1>
        <p>Showcase design elements of our web projects.</p>
      </div>
    </div>
    <div class="ms-2.">
      <div class="social">
        <div class="icons d-flex justify-content-between">
          <i class="bi bi-twitter-x"></i>
          <i class="bi bi-arrow-right"></i>
        </div>
        <h1>Twitter</h1>
        <p>Tweet about interesting coding challenges you've overcome.</p>
      </div>
      <div class="social pb-5">
        <div class="icons d-flex justify-content-between">
          <i class="bi bi-behance"></i>
          <i class="bi bi-arrow-right"></i>
        </div>
        <h1>Behance</h1>
        <p>Create detailed presentations for our projects.</p>
      </div>
    </div>
  </div>
  <div class="section2">
    <div class="details">
      <div class="details-part1">
        <div class="part">
          <h4>Home</h4>
          <ul>
            <li>Why Us</li>
            <li>About Us</li>
            <li>Testimonials</li>
            <li>FAQts</li>
          </ul>
        </div>
        <div class="part">
          <h4>services</h4>
          <ul>
            <li>Web Development</li>
            <li>Web Design</li>
            <li>Digital Marketing</li>
          </ul>
        </div>
        <div class="part">
          <h4>Project</h4>
          <ul>
            <li>Klothink</li>
            <li>Zenith</li>
            <li>Novus</li>
            <li>Apex</li>
          </ul>
        </div>
        <div class="part">
          <h4>Blogs</h4>
          <ul>
            <li>Business</li>
            <li>Design</li>
            <li>Development</li>
          </ul>
        </div>
      </div>
      <div class="details-part2">
        <div class="details-part2-info">
          <h6>Newsletter</h6>
          <h2>Subscribe To our Newsletter</h2>
        </div>
        <input type="email" placeholder="Enter your email" class="email" />
        <i class="bi bi-arrow-right ps-3"></i>
      </div>
    </div>
  </div>
</footer>
<div class="section3 d-flex justify-content-between">
  <h6>© 2024 NextGen. All rights reserved.</h6>
  <div class="d-flex">
    <h6>Terms & Conditions</h6>
    <h6 class="ms-5">Privacy Policy</h6>
  </div>
</div>
