<!DOCTYPE html>
<html lang="en">
  <body>
    <section class="our-Blog p-3 my-4 rounded-5">
      <div class="header">
        <div class="row section p-3 rounded-4">
          <div class="col-xl-8 col-md-4 col-sm-12">
            <h3 class="mb-0 p-2">OUR BLOG</h3>
          </div>
          <div
            class="col-xl-4 col-md-7 col-sm-12 d-flex justify-content-end mt-2"
          >
            <div class="btns">
              <button type="button" class="btn btnn">BUSSINESS</button>
              <button type="button" class="btn btn-middle">DESIGN</button>
              <button type="button" class="btn btnn">DEVELOPMENT</button>
            </div>
          </div>
        </div>
      </div>
      <div class="first-Item mt-2">
        <div class="row">
          <div class="col-lg-4 p-0">
            <div class="img">
              <img src="../../assets/image_2024-08-13_23-28-02.jpg" alt="" />
            </div>
          </div>
          <div class="col-lg-8 p-0">
            <div class="content rounded-4 p-4 ms-lg-2">
              <div class="heading">
                <h5 class="fs-3">Web Design Trends Shaping 2024</h5>
              </div>
              <div class="category my-3">
                <div class="item1">
                  <div class="item-content rounded-5 text-center p-2 px-3">
                    <h6 class="mb-2">
                      <span class="sp1">Category</span>
                      <span class="sp2"> . </span>
                      <span class="sp3">Design</span>
                    </h6>
                  </div>
                </div>
                <div class="item1 mx-md-3">
                  <div class="item-content rounded-5 text-center p-2 px-3">
                    <h6 class="mb-2">
                      <span class="sp1">Read Time</span>
                      <span class="sp2"> . </span>
                      <span class="sp3">6 Mins</span>
                    </h6>
                  </div>
                </div>
                <div class="item1">
                  <div class="item-content rounded-5 text-center p-2 px-3">
                    <h6 class="mb-2">
                      <span class="sp1">Author</span>
                      <span class="sp2"> . </span>
                      <span class="sp3">Laura Turner</span>
                    </h6>
                  </div>
                </div>
              </div>
              <div class="second-content py-3 text-white-50">
                <p>
                  Stay ahead of the design curve with insights into the latest
                  web design trends. From immersive user experiences to bold
                  color choices, explore the design elements that will dominate
                  the digital landscape in 2023 and beyond.
                </p>
              </div>
              <div class="last-content d-flex justify-content-between pb-4">
                <div class="icon d-flex w-25">
                  <i class="bi bi-arrow-up-right fs-2 rounded-circle ms-0"></i>
                  <h6 class="m-auto ms-1 p-2">Read Full Blog</h6>
                </div>
                <div class="date d-flex mt-4 pt-2">
                  <h6>
                    <span class="text-white-50 fw-lighter pe-2"
                      >Published Date
                    </span>
                    7th February 2023
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="second-item text-white">
        <div class="row row-cols-1 row-cols-md-3 g-2 mt-1 px-0">
          <div class="col">
            <div class="card border-0 p-3 pb-3 rounded-4">
              <img
                src="../../assets/card-1.jpg"
                class="card-img-top rounded-4"
                alt="..."
              />
              <div class="card-body">
                <h5 class="text-white card-title">
                  OPTIMIZING MOBILE USER EXPERIENCE FOR HIGHER CONVERSIONS
                </h5>
                <p class="card-text pb-2">
                  Mobile devices dominate digital interactions, making mobile
                  user experience crucial for conversion rates. Explore mobile
                  design best practices...
                </p>
                <div class="icon icon-1">
                  <i class="bi bi-arrow-up-right fs-3 rounded-circle"></i>
                  <span class="text-white-50 m-3">Read Full Blog</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card p-3 pb-4 rounded-4">
              <img
                src="../../assets/card-2.jpg"
                class="card-img-top rounded-4"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title text-white">
                  MASTERING THE ART OF MINIMALISTIC DESIGN
                </h5>
                <p class="card-text active-text">
                  Simplicity and elegance take center stage in minimalistic
                  design. Learn the principles of minimalism, how to effectively
                  communicate with fewer elements...
                </p>
                <div class="icon">
                  <i class="bi bi-arrow-up-right fs-3 rounded-circle"></i>
                  <span class="text-white-50 m-3">Read Full Blog</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card p-3 pb-4 rounded-4">
              <img
                src="../../assets/card-3.jpg"
                class="card-img-top rounded-4"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title text-white">
                  THE PSYCHOLOGY OF VISUAL DESIGN IN BRANDING
                </h5>
                <p class="card-text">
                  Uncover the impact of visual elements in branding and how they
                  influence customer perceptions and emotions. Explore color
                  psychology, typography choices...
                </p>
                <div class="icon">
                  <i class="bi bi-arrow-up-right fs-3 rounded-circle"></i>
                  <span class="text-white-50 m-3">Read Full Blog</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="js/bootstrap.js"></script>
  </body>
</html>
