<body>
  <div class="content d-flex">
    <div class="first">
      <div class="header d-flex">
        <h1>Empowering Your</h1>
        <img class="first-img" src="../../assets/Button.png" alt="" />
      </div>
      <h1 class="last-header">Digital Vision</h1>
      <img class="second-img" src="../../assets/Button.png" alt="" />
      <p>
        At NexGen, we are committed to empowering your digital vision with
        innovative solutions tailored to your unique needs. Our team of skilled
        professionals, coupled with cutting-edge technologies, ensures that we
        deliver exceptional results that elevate your online presence.
      </p>
    </div>
    <div class="second">
      <img src="../../assets/Card.png" alt="" />
    </div>
  </div>
  <div class="reasons">
    <h1>Key Features of Our Projects</h1>
    <div class="firstCards d-flex">
      <div>
        <div class="icon d-flex">
          <img src="../../assets/Icon Container (7).png" alt="" />
        </div>
        <h3>Expertise in Cutting-Edge Technologies</h3>
        <p>
          NexGen ensures your projects are powered by state-of-the-art
          technologies, guaranteeing innovation and future-proof solutions.
        </p>
      </div>
      <div>
        <div class="icon d-flex">
          <img src="../../assets/Icon Container (8).png" alt="" />
        </div>
        <h3>Proven Track Record of Success</h3>
        <p>
          NexGen demonstrates a consistent ability to meet and exceed client
          expectations, providing reliable and effective web solutions tailored
          to diverse needs.
        </p>
      </div>
      <div>
        <div class="icon icon3 d-flex">
          <img src="../../assets/Icon Container (9).png" alt="" />
        </div>
        <h3>Client-Centric Approach</h3>
        <p>
          At NexGen, we prioritize understanding our clients' unique
          requirements, fostering transparent communication throughout the
          development process.
        </p>
      </div>
      <div>
        <div class="icon d-flex">
          <img src="../../assets/Icon Container (10).png" alt="" />
        </div>
        <h3>Dedicated Team of Professionals</h3>
        <p>
          Our professionals bring a wealth of expertise to the table, ensuring
          the delivery of top-notch, scalable, and secure web solutions for your
          business.
        </p>
      </div>
    </div>
  </div>
  <div class="works">
    <div class="header d-flex">
      <h1>Projects Showcase</h1>
      <div class="button d-flex">
        <button>Web Design</button>
        <button>Web Development</button>
        <button>Marketing</button>
      </div>
    </div>
  </div>
  <div class="works-first d-flex">
    <div class="imgLeft">
      <img src="../../assets/Image (1).png" alt="" />
    </div>
    <div class="left col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-3">
      <div class="header d-flex">
        <div class="leftHeader d-flex">
          <img class="icon" src="../../assets/Icon Container (5).png" alt="" />
          <h3>Zenith Fitness App</h3>
        </div>
        <div class="rightHeader d-flex">
          <img class="icon" src="../../assets/Icon Container.png" alt="" />
          <h6>ALL Works</h6>
        </div>
      </div>
      <span class="span">
        Category <img src="../../assets/Shape.png" alt="" />
        <strong> Mobile App Development</strong>
      </span>
      <br />
      <span class="span">
        Time Taken <img src="../../assets/Shape.png" alt="" />
        <strong> 6 months</strong>
      </span>
      <p>
        An all-in-one health and wellness app that offers personalized fitness
        plans, nutrition guidance, and virtual workout classes.
      </p>
    </div>
    <div class="middle col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-4">
      <img src="../../assets/Image (1).png" alt="" />
    </div>
    <div class="right">
      <div class="one">
        <h3>Technologies Used</h3>
        <span>React Native</span>
        <span>Firebase</span>
        <span>Redux</span>
        <span>REST API</span>
        <span>MongoDB</span>
      </div>
      <div class="two d-flex">
        <h2>Team Members</h2>
        <img class="active" src="../../assets/Image (2).png" alt="" />
        <img src="../../assets/Image (3).png" alt="" />
        <img src="../../assets/Image (4).png" alt="" />
        <img src="../../assets/Image (5).png" alt="" />
        <img src="../../assets/Image (6).png" alt="" />
      </div>
      <div class="three">
        <button>Book A Call</button>
      </div>
    </div>
  </div>
  <div class="works-first d-flex">
    <div class="imgLeft">
      <img src="../../assets/Image (7).png" alt="" />
    </div>
    <div class="left col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-3">
      <div class="header d-flex">
        <div class="leftHeader d-flex">
          <img class="icon" src="../../assets/Icon Container (6).png" alt="" />
          <h3>A-Aura Ecommerce</h3>
        </div>
        <div class="rightHeader d-flex">
          <img class="icon" src="../../assets/Icon Container.png" alt="" />
          <h6>ALL Works</h6>
        </div>
      </div>
      <span class="span">
        Category <img src="../../assets/Shape.png" alt="" />
        <strong> Web Design & Development</strong>
      </span>
      <br />
      <span class="span">
        Time Taken <img src="../../assets/Shape.png" alt="" />
        <strong> 3 months</strong>
      </span>
      <p>
        A complete overhaul of a corporate website to enhance its brand identity
        and user experience.
      </p>
    </div>
    <div class="middle col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-4">
      <img src="../../assets/Image (7).png" alt="" />
    </div>
    <div class="right">
      <div class="one">
        <h3>Technologies Used</h3>
        <span>WordPress</span>
        <span>PHP</span>
        <span>HTML5</span>
        <span>CSS3</span>
        <span>JavaScript</span>
      </div>
      <div class="two d-flex">
        <h2>Team Members</h2>
        <img class="active" src="../../assets/Image (2).png" alt="" />
        <img src="../../assets/Image (3).png" alt="" />
        <img src="../../assets/Image (4).png" alt="" />
        <img src="../../assets/Image (5).png" alt="" />
        <img src="../../assets/Image (6).png" alt="" />
      </div>
      <div class="three">
        <button>Book A Call</button>
      </div>
    </div>
  </div>
</body>
