<head>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet"
  />
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"
        ><img src="../../assets/Logo.png" alt=""
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <button
              class="nav-link"
              routerLink="home"
              routerLinkActive="active"
            >
              Home
            </button>
          </li>
          <li class="nav-item">
            <button
              class="nav-link"
              routerLink="projects"
              routerLinkActive="active"
            >
              Projects
            </button>
          </li>
          <li class="nav-item">
            <button
              class="nav-link"
              routerLink="blogs"
              routerLinkActive="active"
            >
              Blogs
            </button>
          </li>
          <li class="nav-item">
            <button
              class="nav-link"
              routerLink="services"
              routerLinkActive="active"
            >
              Services
            </button>
          </li>
          <li class="nav-item">
            <button
              class="nav-link"
              routerLink="carrere"
              routerLinkActive="active"
            >
              Carrere
            </button>
          </li>
          <li class="nav-item">
            <button
              class="nav-link"
              routerLink="about"
              routerLinkActive="active"
            >
              Contact-us
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</body>
