<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
</head>
<body>
  <section class="Header">
    <div class="left-side">
      <div class="header-info d-flex">
        <h1 class="h">Unlock Your Potential <br />in the Digital World</h1>
        <img class="second-img" src="../../assets/Button.png" alt="" />
      </div>
      <p>
        At NexGen, we offer a comprehensive suite of digital solutions designed
        to propel your business to new heights in the digital realm. With a team
        of skilled professionals, cutting-edge technologies, and a passion for
        innovation
      </p>
      <marquee>
        <p>
          <img src="../../assets/Shape.png" alt="" />
          Digital Marketing <img src="../../assets/Shape.png" alt="" /> Website
          Design <img src="../../assets/Shape.png" alt="" /> Branding
          <img src="../../assets/Shape.png" alt="" /> Website Development
          <img src="../../assets/Shape.png" alt="" /> Mobile App Development
          <img src="../../assets/Shape.png" alt="" /> Digital Marketing
          <img src="../../assets/Shape.png" alt="" />
        </p>
      </marquee>
    </div>

    <div class="right-side">
      <div>
        <img src="../../assets/Sub Container.svg" alt="" class="img" />
      </div>
    </div>
  </section>

  <section class="Services">
    <header>
      <h1 class="header">Our Services</h1>
    </header>
    <article>
      <div class="section">
        <div class="Services-About">
          <div class="header-service">
            <div class="head1">
              <img src="../../assets/Icon Container.svg" alt="" />
              <h3>Web Design</h3>
            </div>
            <div class="head2">
              <img src="../../assets/Button.svg" alt="" />
              <p>Book A Call</p>
            </div>
          </div>
          <div class="text">
            <p>
              Our Web Design service is all about creating visually stunning and
              user-friendly websites that leave a lasting.
            </p>
            <h3 class="price">Starts From $1,500</h3>
          </div>
          <a href="" class="btnn">View all Projects</a>
        </div>
        <div class="Services-details">
          <div class="header-service">
            <div class="head1">
              <h3>Web Design Projects</h3>
            </div>
            <div class="head2">
              <img src="../../assets/Button.svg" alt="" />
              <p>View All</p>
            </div>
          </div>
          <div class="imgs">
            <div class="img">
              <img src="../../assets/Container (1).png" alt="" />
            </div>
            <div class="img">
              <img src="../../assets/Container.png" alt="" />
            </div>
          </div>
        </div>
      </div>

      <div class="section">
        <div class="Services-About">
          <div class="header-service">
            <div class="head1">
              <img src="../../assets/Icon Container (1).svg" alt="" />
              <h3>Mobile App Development</h3>
            </div>
            <div class="head2">
              <img src="../../assets/Button.svg" alt="" />
              <p>Book A Call</p>
            </div>
          </div>
          <div class="text">
            <p>
              With our Mobile App Development service, we harness the power of
              mobile technology to create cutting-edge applications .
            </p>
            <h3 class="price">Starts From $2,500</h3>
          </div>
          <a href="" class="btnn">View all Projects</a>
        </div>
        <div class="Services-details">
          <div class="header-service">
            <div class="head1">
              <h3>Mobile App Development Projects</h3>
            </div>
            <div class="head2">
              <img src="../../assets/Button.svg" alt="" />
              <p>View All</p>
            </div>
          </div>
          <div class="imgs">
            <div class="img">
              <img src="../../assets/Container (2).svg" alt="" />
            </div>
            <div class="img">
              <img src="../../assets/Container (3).svg" alt="" />
            </div>
          </div>
        </div>
      </div>

      <div class="section">
        <div class="Services-About">
          <div class="header-service">
            <div class="head1">
              <img src="../../assets/Icon Container (2).svg" alt="" />
              <h3>Web Development</h3>
            </div>
            <div class="head2">
              <img src="../../assets/Button.svg" alt="" />
              <p>Book A Call</p>
            </div>
          </div>
          <div class="text">
            <p>
              Our Web Development service is focused on turning your website
              into a powerful digital asset. We utilize the latest technologies
              and industry best practices to build websites.
            </p>
            <h3 class="price">Starts From $1,800</h3>
          </div>
          <a href="" class="btnn">View all Projects</a>
        </div>
        <div class="Services-details">
          <div class="header-service">
            <div class="head1">
              <h3>Web Development Projects</h3>
            </div>
            <div class="head2">
              <img src="../../assets/Button.svg" alt="" />
              <p>View All</p>
            </div>
          </div>
          <div class="imgs">
            <div class="img">
              <img src="../../assets/Container (4).svg" alt="" />
            </div>
            <div class="img">
              <img src="../../assets/Container (5).svg" alt="" />
            </div>
          </div>
        </div>
      </div>

      <div class="section">
        <div class="Services-About">
          <div class="header-service">
            <div class="head1">
              <img src="../../assets/Icon Container (3).svg" alt="" />
              <h3>Digital Marketing</h3>
            </div>
            <div class="head2">
              <img src="../../assets/Button.svg" alt="" />
              <p>Book A Call</p>
            </div>
          </div>
          <div class="text">
            <p>
              In the digital age, marketing is a critical aspect of your
              business's success. Our Digital Marketing service employs
              data-driven strategies to enhance your brand's visibility
            </p>
            <h3 class="price">Starts From $1,200</h3>
          </div>
          <a href="" class="btnn">View all Projects</a>
        </div>
        <div class="Services-details">
          <div class="header-service">
            <div class="head1">
              <h3>Digital Marketing Projects</h3>
            </div>
            <div class="head2">
              <img src="../../assets/Button.svg" alt="" />
              <p>View All</p>
            </div>
          </div>
          <div class="imgs">
            <div class="img">
              <img src="../../assets/Container (6).svg" alt="" />
            </div>
            <div class="img">
              <img src="../../assets/Container (7).svg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </article>
  </section>

  <section class="success-stories">
    <header>
      <h1 class="header">Success Stories</h1>
      <div class="head2">
        <img src="../../assets/Button.svg" alt="" />
        <p>View All</p>
      </div>
    </header>
    <article class="article">
      <div class="success-stories-sec1">
        <div class="header-service">
          <div class="head1">
            <img src="../../assets/Icon Container (3).svg" alt="" />
            <h3>Digital Marketing</h3>
          </div>
          <div class="head2">
            <img src="../../assets/Button.svg" alt="" />
            <p>View All</p>
          </div>
        </div>
        <div class="text-stories">
          <p>
            <span class="word1">Industry </span>
            <span class="dot">
              <img src="../../assets/Shape.svg" alt="" />
            </span>
            <span class="word2"> E-commerce</span>
          </p>
        </div>

        <div class="text-stories">
          <span
            ><span class="word1">Service Utilized </span>
            <span class="dot">
              <img src="../../assets/Shape.svg" alt="" />
            </span>
            <span class="word2"> Design & Development</span>
          </span>
        </div>
      </div>
      <div class="challenges">
        <div class="btns">
          <ul>
            <li><button href="" class="btn">challenge</button></li>
            <li><button href="" class="active">solotions</button></li>
            <li><button href="" class="btn">results</button></li>
          </ul>
        </div>
        <div class="text-btns">
          <h2>Solution</h2>
          <p>
            Our team conducted a thorough analysis of their target audience and
            business objectives. We designed a modern and intuitive website with
            seamless navigation and a mobile-responsive layout. Additionally, we
            integrated an efficient checkout process and optimized the site for
            search engines.
          </p>
        </div>
      </div>
    </article>

    <article class="article">
      <div class="success-stories-sec1">
        <div class="header-service">
          <div class="head1">
            <img src="../../assets/Icon Container (3).svg" alt="" />
            <h3>Digital Marketing</h3>
          </div>
          <div class="head2">
            <img src="../../assts/Button.svg" alt="" />
            <p>View All</p>
          </div>
        </div>
        <div class="text-stories">
          <p>
            <span class="word1">Industry </span>
            <span class="dot">
              <img src="../../assets/Shape.png" alt="" />
            </span>
            <span class="word2"> E-commerce</span>
          </p>
        </div>

        <div class="text-stories">
          <span
            ><span class="word1">Service Utilized </span>
            <span class="dot">
              <img src="../../assets/Shape.png" alt="" />
            </span>
            <span class="word2"> Design & Development</span>
          </span>
        </div>
      </div>
      <div class="challenges">
        <div class="btns">
          <ul>
            <li><button href="" class="btn">challenge</button></li>
            <li><button href="" class="active">solotions</button></li>
            <li><button href="" class="btn">results</button></li>
          </ul>
        </div>
        <div class="text-btns">
          <h2>Solution</h2>
          <p>
            Our team conducted a thorough analysis of their target audience and
            business objectives. We designed a modern and intuitive website with
            seamless navigation and a mobile-responsive layout. Additionally, we
            integrated an efficient checkout process and optimized the site for
            search engines.
          </p>
        </div>
      </div>
    </article>
  </section>
</body>
