<body>
  <div class="content d-flex">
    <div class="first col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-7">
      <div class="header d-flex">
        <h1>Digital Solutions</h1>
        <img class="first-img" src="../../assets/Button.png" alt="" />
      </div>
      <h1 class="last-header">That Drive Success</h1>
      <img class="second-img" src="../../assets/Button.png" alt="" />
      <p>
        At NexGen, we believe in the transformative power of digital solutions.
        Our team of experts is dedicated to helping businesses like yours thrive
        in the fast-paced digital landscape.
      </p>
      <marquee>
        <p>
          <img src="../../assets/Shape.png" alt="" />
          Digital Marketing <img src="../../assets/Shape.png" alt="" /> Website
          Design <img src="../../assets/Shape.png" alt="" /> Branding
          <img src="../../assets/Shape.png" alt="" /> Website Development
          <img src="../../assets/Shape.png" alt="" /> Mobile App Development
          <img src="../../assets/Shape.png" alt="" /> Digital Marketing
          <img src="../../assets/Shape.png" alt="" />
        </p>
      </marquee>
    </div>
    <div class="second col-xxl-5">
      <figure>
        <img src="../../assets/Image.png" alt="" />
        <figcaption>
          <h3>Estatein Real Estate</h3>
          <p>Web Development.</p>
        </figcaption>
      </figure>
    </div>
  </div>
  <div class="number">
    <div class="col-6 col-sm-6 col-md-6 col-lg-12 col-xl-12 col-xxl-12">
      <h6>Clients</h6>
      <h1>200+</h1>
    </div>
    <div class="col-6 col-sm-6 col-md-6 col-lg-12 col-xl-12 col-xxl-12">
      <h6>PROJECTS</h6>
      <h1>280+</h1>
    </div>
    <div class="col-6 col-sm-6 col-md-6 col-lg-12 col-xl-12 col-xxl-12">
      <h6>HAPPY CLIENTS</h6>
      <h1>100%</h1>
    </div>
    <div class="col-6 col-sm-6 col-md-6 col-lg-12 col-xl-12 col-xxl-12">
      <h6>FOLLOWER</h6>
      <h1>420K</h1>
    </div>
    <div class="col-6 col-sm-6 col-md-6 col-lg-12 col-xl-12 col-xxl-12">
      <h6>Years Of Experience</h6>
      <h1>10+</h1>
    </div>
    <div class="d-flex col-6 col-sm-6 col-md-6 col-lg-12 col-xl-12 col-xxl-12">
      <img class="lastImg" src="../../assets/Icon Container.png" alt="" />
      <h6 class="last">Know More</h6>
    </div>
  </div>
  <div class="reasons">
    <h1>Reasons to Choose NexGen for Your Digital Journey</h1>
    <div class="firstCards d-flex">
      <div>
        <h3>Expertise in Cutting-Edge Technologies</h3>
        <p>
          NexGen ensures your projects are powered by state-of-the-art
          technologies, guaranteeing innovation and future-proof solutions.
        </p>
        <div class="icon d-flex">
          <img src="../../assets/Icon Container.png" alt="" />
          <p>Learn More</p>
        </div>
      </div>
      <div>
        <h3>Proven Track Record of Success</h3>
        <p>
          NexGen demonstrates a consistent ability to meet and exceed client
          expectations, providing reliable and effective web solutions tailored
          to diverse needs.
        </p>
        <div class="icon d-flex">
          <img src="../../assets/Icon Container.png" alt="" />
          <p>Learn More</p>
        </div>
      </div>
      <div>
        <h3>Client-Centric Approach</h3>
        <p class="special-paragraph">
          At NexGen, we prioritize understanding our clients' unique
          requirements, fostering transparent communication throughout the
          development process.
        </p>
        <div class="icon icon3 d-flex">
          <img src="../../assets/Icon Container.png" alt="" />
          <p>Learn More</p>
        </div>
      </div>
      <div>
        <h3>Dedicated Team of Professionals</h3>
        <p>
          Our professionals bring a wealth of expertise to the table, ensuring
          the delivery of top-notch, scalable, and secure web solutions for your
          business.
        </p>
        <div class="icon d-flex">
          <img src="../../assets/Icon Container.png" alt="" />
          <p>Learn More</p>
        </div>
      </div>
    </div>
  </div>
  <div class="services">
    <h1>Our Services</h1>
    <div class="cards d-flex">
      <div class="firstcard">
        <div class="title d-flex">
          <div class="icon d-flex">
            <img src="../../assets/Icon Container (1).png" alt="" />
            <h2>Web Design</h2>
          </div>
          <div class="button d-flex">
            <img src="../../assets/Icon Container.png" alt="" />
            <h5>Book A Call</h5>
          </div>
        </div>
        <p>
          Our Web Design service is all about creating visually stunning and
          user-friendly websites that leave a lasting.
        </p>
        <h3>Starts From $1,500</h3>
        <button>Book A Call</button>
      </div>
      <div class="firstcard">
        <div class="title d-flex">
          <div class="icon d-flex">
            <img src="../../assets/Icon Container (2).png" alt="" />
            <h2>Mobile App Development</h2>
          </div>
          <div class="button d-flex">
            <img src="../../assets/Icon Container.png" alt="" />
            <h5>Book A Call</h5>
          </div>
        </div>
        <p>
          With our Mobile App Development service, we harness the power of
          mobile technology to create cutting-edge applications that engage your
          customers on-the-go.
        </p>
        <h3>Starts From $2,500</h3>
        <button>Book A Call</button>
      </div>
      <div class="firstcard">
        <div class="title d-flex">
          <div class="icon d-flex">
            <img src="../../assets/Icon Container (3).png" alt="" />
            <h2>Web Development</h2>
          </div>
          <div class="button d-flex">
            <img src="../../assets/Icon Container.png" alt="" />
            <h5>Book A Call</h5>
          </div>
        </div>
        <p>
          Our Web Development service is focused on turning your website into a
          powerful digital asset. We utilize the latest technologies and
          industry best practices to build websites.
        </p>
        <h3>Starts From $1,800</h3>
        <button>Book A Call</button>
      </div>
      <div class="firstcard">
        <div class="title d-flex">
          <div class="icon d-flex">
            <img src="../../assets/Icon Container (4).png" alt="" />
            <h2>Digital Marketing</h2>
          </div>
          <div class="button d-flex">
            <img src="../../assets/Icon Container.png" alt="" />
            <h5>Book A Call</h5>
          </div>
        </div>
        <p>
          In the digital age, marketing is a critical aspect of your business's
          success. Our Digital Marketing service employs data-driven strategies
          to enhance your brand's visibility
        </p>
        <h3>Starts From $1,200</h3>
        <button>Book A Call</button>
      </div>
    </div>
  </div>
  <div class="works">
    <div class="header d-flex">
      <h1>Our Works</h1>
      <div class="button d-flex">
        <img src="../../assets/Icon Container.png" alt="" />
        <h6>ALL Works</h6>
      </div>
    </div>
  </div>
  <div class="works-first d-flex">
    <div class="imgLeft">
      <img src="../../assets/Image (1).png" alt="" />
    </div>
    <div class="left col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-3">
      <div class="header d-flex">
        <div class="leftHeader d-flex">
          <img class="icon" src="../../assets/Icon Container (5).png" alt="" />
          <h3>Zenith Fitness App</h3>
        </div>
        <div class="rightHeader d-flex">
          <img class="icon" src="../../assets/Icon Container.png" alt="" />
          <h6>ALL Works</h6>
        </div>
      </div>
      <span class="span">
        Category <img src="../../assets/Shape.png" alt="" />
        <strong> Mobile App Development</strong>
      </span>
      <br />
      <span class="span">
        Time Taken <img src="../../assets/Shape.png" alt="" />
        <strong> 6 months</strong>
      </span>
      <p>
        An all-in-one health and wellness app that offers personalized fitness
        plans, nutrition guidance, and virtual workout classes.
      </p>
    </div>
    <div class="middle col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-4">
      <img src="../../assets/Image (1).png" alt="" />
    </div>
    <div class="right">
      <div class="one">
        <h3>Technologies Used</h3>
        <span>React Native</span>
        <span>Firebase</span>
        <span>Redux</span>
        <span>REST API</span>
        <span>MongoDB</span>
      </div>
      <div class="two d-flex">
        <h2>Team Members</h2>
        <img class="active" src="../../assets/Image (2).png" alt="" />
        <img src="../../assets/Image (3).png" alt="" />
        <img src="../../assets/Image (4).png" alt="" />
        <img src="../../assets/Image (5).png" alt="" />
        <img src="../../assets/Image (6).png" alt="" />
      </div>
      <div class="three">
        <button>Book A Call</button>
      </div>
    </div>
  </div>
  <div class="works-first d-flex">
    <div class="imgLeft">
      <img src="../../assets/Image (7).png" alt="" />
    </div>
    <div class="left col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-3">
      <div class="header d-flex">
        <div class="leftHeader d-flex">
          <img class="icon" src="../../assets/Icon Container (6).png" alt="" />
          <h3>A-Aura Ecommerce</h3>
        </div>
        <div class="rightHeader d-flex">
          <img class="icon" src="../../assets/Icon Container.png" alt="" />
          <h6>ALL Works</h6>
        </div>
      </div>
      <span class="span">
        Category <img src="../../assets/Shape.png" alt="" />
        <strong> Web Design & Development</strong>
      </span>
      <br />
      <span class="span">
        Time Taken <img src="../../assets/Shape.png" alt="" />
        <strong> 3 months</strong>
      </span>
      <p>
        A complete overhaul of a corporate website to enhance its brand identity
        and user experience.
      </p>
    </div>
    <div class="middle col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-4">
      <img src="../../assets/Image (7).png" alt="" />
    </div>
    <div class="right">
      <div class="one">
        <h3>Technologies Used</h3>
        <span>WordPress</span>
        <span>PHP</span>
        <span>HTML5</span>
        <span>CSS3</span>
        <span>JavaScript</span>
      </div>
      <div class="two d-flex">
        <h2>Team Members</h2>
        <img class="active" src="../../assets/Image (2).png" alt="" />
        <img src="../../assets/Image (3).png" alt="" />
        <img src="../../assets/Image (4).png" alt="" />
        <img src="../../assets/Image (5).png" alt="" />
        <img src="../../assets/Image (6).png" alt="" />
      </div>
      <div class="three">
        <button>Book A Call</button>
      </div>
    </div>
  </div>
</body>
